* {
    margin: 0
}

html, body {
    height: 100%;
    backdrop-filter: blur(2px);
}


.main {
    height: 100%;
    width: 100%;
    display: table;
}
.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.textcontainer {
    text-align: center;
    height: 200px;
    width: 400px;
    margin-left: 39%;
    background-color: black;
    border-radius: 20px;
    color: whitesmoke;
}

.buttons {
    text-align: center;
    padding-top: 6rem;
}

#button-accept {
    border-radius: 5px;
    width: 100px;
    height: 40px;
    background-color: green;
}

#button-reject {
    border-radius: 5px;
    width: 100px;
    height: 40px;
    background-color: crimson;
}