// Breakpoint //
$breakpoint2000: 1999.98 + px;
$breakpoint4000: 3999.98 + px;
$breakpoint1400: 1399.98 + px;


// COLORS //
$mainBgColor: rgba(7, 7, 7, 0.5);
$greyColor: rgba(255, 255, 255, 0.5);
$whiteColor: white;
$blueColor: rgba(47, 128, 237, 1);